<form class="example-form">
  <h2>Create New Task</h2>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Description">
  </md-input-container>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <material-datepicker placeholder="Due Date"></material-datepicker>
      </td>
      <td>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Priority" type="number">
        </md-input-container>
      </td>
    </tr>
  </table>
  </form>