.content{
    width: 100%;
    height:100%;
    position: fixed;
}

.board-tabs{
    height: 100%;
    overflow-y:scroll;
}
.board-title{
    margin: 0 20px;
    font-size: 15px;
}
.mat-tab-list{
    background-color: rgba(25, 199, 124, 0.83) !important;
}
mat-tab-body{
    background-color: white !important;
}