.nav-title{
     color:white;
}
.board-list-header{
   color: "white";
   font-family: sans-serif;
   border-bottom: 2px solid white;
}
.task-card{
    padding-top: 120px;
    height: inherit;
    margin: 10px;
    width: 85%;
}
.list-header-text{
    width:225px;
}
.board-label{
    font-family: sans-serif;
    font-size: 2em;
    vertical-align: bottom;
    color: gray;
}
.new-task{
    border: 1px solid black;
}
input .datepicker__input {
    width: 100px !important;
    background-color: red !important;
}