.nav-title{
     color:white;
}
.board-list-header{
   color: "white";
   font-family: sans-serif;
   border-bottom: 2px solid white;
}
.task-card{
    padding-top: 120px;
    height: inherit;
    margin: 10px;
    width: 85%;
}
.list-header-text{
    width:225px;
}
.board-label{
    font-family: sans-serif;
    font-size: 2em;
    vertical-align: bottom;
    color: gray;
}
.error{
    padding-left: 1px;
    color: red;
    font-size: 11px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
